html {
    font-size: 20px;
    font-family: 'Major Mono Display', monospace;
  }

img {
    display: block;
    margin: 0 auto;
}
  
h1 {
    font-size: 90px;
    text-align: center;
    letter-spacing: 25px;
    margin: 0;
    pad: 20px 0;
    color: #00539f
    text-shadow; 3px 3px 1px black;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 4px;
    text-align: center;
}

html {
    background-color: transparent
}

body {
    width: 400px;
    margin: 4% auto;
    padding: 0 20px 20px 20px;
    border: 0px solid transparent;
}


#scroll-container {
border: 3px transparent;
border-radius: 10px;
height: 150px;
overflow: auto;
}

#scroll-text {
height: 50%;
text-align: center;

/* animation properties */
-moz-transform: translateY(100%);
-webkit-transform: translateY(100%);
transform: translateY(100%);

-moz-animation: my-animation 7s linear infinite;
-webkit-animation: my-animation 7s linear infinite;
animation: my-animation 7s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
from { -moz-transform: translateY(100%); }
to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
from { -webkit-transform: translateY(100%); }
to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
from {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
to {
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
}
